<!-- <section> -->
    <button 
        *ngIf="showButton()"
        class="tournament-btn--generate" 
        (click)="onGenerate(selected)" 
        [disabled]="disableButton()"
    >
        Gerar Torneio
    </button>
    <button *ngIf="!showButton()"
        class="tournament-btn--reset" 
        (click)="onReset()"
    >
        Gerar Novo Torneio
    </button>
    <section class="tournament">
        <div class="tournament-box tournament-box--1">
            <div class="tournament-box--frame">
                <div 
                    class="tournament-box--container" 
                    *ngIf="selected[1] !== null" 
                    (click)="onRemove(selected[1], 1)"
                >
                    <span>{{selected[1].name}}</span>
                </div>
            </div>
        </div>
        <div class="tournament-box tournament-box--2">
            <div class="tournament-box--frame">
                <div 
                    class="tournament-box--container" 
                    *ngIf="selected[2] !== null" 
                    (click)="onRemove(selected[2], 2)"
                >
                    <span>{{selected[2].name}}</span>
                </div>
            </div>
        </div>
        <div class="tournament-box tournament-box--3">
            <div class="tournament-box--frame">
                <div 
                    class="tournament-box--container"
                    *ngIf="selected[3] !== null" 
                    (click)="onRemove(selected[3], 3)"
                >
                    <span>{{selected[3].name}}</span>
                </div>
            </div>
        </div>
        <div class="tournament-box tournament-box--4">
            <div class="tournament-box--frame">
                <div
                    class="tournament-box--container"
                    *ngIf="selected[4] !== null"
                    (click)="onRemove(selected[4], 4)"
                >
                    <span>{{selected[4].name}}</span>
                </div>
            </div>
        </div>
        <div class="tournament-icon tournament-icon--1">
            <img src="../../../assets/y_icon.svg" />
        </div>
        <div class="tournament-icon tournament-icon--2">
            <img src="../../../assets/y_icon.svg" />
        </div>
        <div class="tournament-box tournament-box--5">
            <div class="tournament-box--frame">
                <div
                    class="tournament-box--container"
                    *ngIf="result.semifinal1 !== null"
                >
                    <span>{{result.semifinal1.name}}</span>
                </div>
            </div>
        </div>
        <div class="tournament-box tournament-box--6">
            <div class="tournament-box--frame">
                <div
                    class="tournament-box--container"
                    *ngIf="result.semifinal2 !== null"
                >
                    <span>{{result.semifinal2.name}}</span>
                </div>
            </div>
        </div>
        <div class="tournament-icon tournament-icon--3">
            <img src="../../../assets/y_icon.svg" />
        </div>
        <div class="tournament-box tournament-box--7">
            <div class="tournament-box--frame">
                <div
                    class="tournament-box--container"
                    *ngIf="result.champion !== null"
                >
                    <span>{{result.champion.name}}</span>
                </div>
            </div>
        </div>
    </section>
<!-- </section> -->
