@import 'abstracts/variables';

:host {
    width: 100%;
    height: 15vh;
    background-color: $color-gray-dark;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 3vh;
}