@import 'abstracts/variables';

:host {
    width: 100%;
    background-color: $color-gray-dark;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

header {
    padding-bottom: 2vh;
}