@import 'base/typography';

.region {
    position: relative;
    background-color: $color-black;
    border: none;
    border-radius: 100%;
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 0.8vh 1vw;

    &:active, &:visited, &:focus {
        border: none;
        outline: none;
    }
    &:hover{
        cursor: pointer;
    }
    &:disabled{
        opacity: 0;
        cursor: unset;
    }

    &--icon {
        height: 60px;
    }
    &--name {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
