@import 'abstracts/variables';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}

body {
    box-sizing: border-box;
    height: 100vh;
    @include responsive(tab-port){
        height: 114vh;
    }
}

html {
    font-size: 62.5%;
}